<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Login Page</title>
	</head>
	<body>
		<div class="container">
			<div>
				<h2>Login to Play!</h2>
			</div>
			<div>
				<form method="POST" action="/login">
					<input type="text" name="email" placeholder="Email">
					<input type="password" name="password" placeholder="Password">
					<button>Login</button>
				</form>
			</div>
		</div>
	</body>

	
</html>